.EventMain__event {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 70%;
    height: auto;
    background-color: #f9f3f4;
}


.EventMain__image {
    width: 40%;
    margin: 30px 0 30px 50px;
}
.EventMain__content {
    width: 60%;
    margin: 30px 0 30px 50px ;
}
.EventMain__image img {
    width: 100%;
}


.EventMain__content--titel p {
    font-size: 17px;
    font-weight: 500;
    color: #0a9cf1;
    text-transform: uppercase;
}

.EventMain__content--titel a:hover {
    text-decoration: none!important;
}

